@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Source Sans 3';
  font-size: 16px;
  overflow-x: hidden;
  line-height: normal;
  color: #302d2d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
