<section class="about">
  <div class="container">
    <div class="about-row">
      <div class="about-left">
        <img src="./images/about-bg.jpg" alt="img about" />
      </div>
      <div class="about-right">
        <h2 class="def-title">
          Стоматологическая клиника <br />
          <span class="title-bold">Dental Tooth</span>
        </h2>
        <p class="about-description">
          Мы предлагаем широкий спектр стоматологических услуг в общей клинике.
          Вам будет предоставлен комплексный план лечения до начала любых
          стоматологических услуг. Чтобы записаться на прием или узнать больше
          об услугах, доступных в стоматологической клинике, пожалуйста,
          позвоните по телефону
        </p>
        <div class="about-list-wrap">
          <p class="about-list-title">Мы предлагаем услуги:</p>
          <ul class="about-list">
            <li>Отбеливание зубов</li>
            <li>Апноэ во сне</li>
            <li>Лечение десен</li>
            <li>Дизайн улыбки</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
