<section class="hero">
  <div class="container">
    <div class="hero-row">
      <div class="hero-left">
        <div class="hero-subtitle">Стоматологическая клиника Dentist Power</div>
        <h1 class="hero-title">Безболезненное лечение зубов</h1>
        <p class="hero-description">
          Талантливая команда стоматологов, признанных за высокое качество
          стоматологических процедур.
        </p>
        <a href="#" class="hero-btn">Записаться на прием</a>
      </div>
      <div class="hero-right">
        <img class="hero-img" src="./images/girl.png" alt="girl" />
        <img
          class="hero-img-logo"
          src="./images/banner-logo.png"
          alt="banner-logo"
        />
        <span class="hero-img-circle"></span>
      </div>
    </div>
  </div>
</section>
